apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: meilisearch
  namespace: linkwarden
spec:
  selector:
    matchLabels:
      app: meilisearch
  serviceName: "meilisearch"
  replicas: 1
  template:
    metadata:
      labels:
        app: meilisearch

    spec:
      automountServiceAccountToken: false
      terminationGracePeriodSeconds: 10
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: meilisearch
          image: getmeili/meilisearch:v1.35.1
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          resources:
            requests:
              memory: 256Mi
              cpu: 500m
              ephemeral-storage: 4Gi
            limits:
              memory: 2Gi
              cpu: 1000m
              ephemeral-storage: 4Gi
          env:
            - name: MEILI_NO_ANALYTICS
              value: "true"
            - name: MEILI_MASTER_KEY
              valueFrom:
                secretKeyRef:
                  name: meilisearch-secrets
                  key: master-key

          ports:
            - containerPort: 7700
              name: web
          volumeMounts:
            - name: meili-data
              mountPath: /meili_data
  volumeClaimTemplates:
    - metadata:
        name: meili-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: "openebs"
        resources:
          requests:
            storage: 8Gi
