apiVersion: v1
kind: Service
metadata:
  name: mosquitto
  namespace: smart-home
  labels:
    app: mosquitto
spec:
  type: ClusterIP
  selector:
    app: mosquitto
  ports:
    - port: 1883
      name: mqtt
