## Override the deployment namespace
##
namespaceOverride: "monitoring"

crds:
  enabled: true

alertmanager:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
    hosts:
      - alertmanager.mcmumf.dev
    paths:
    tls:
      - hosts:
          - alertmanager.mcmumf.dev
        secretName: alertmanager.mcmumf.dev-tls

grafana:
  enabled: true
  grafana.ini:
    users:
      viewers_can_edit: false
    auth:
      disable_login_form: false
    auth.anonymous:
      enabled: false
      org_role: Viewer
  plugins:
    - grafana-polystat-panel
    - snuids-trafficlights-panel
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
    hosts:
      - grafana.mcmumf.dev
    path: /
    tls:
      - hosts:
          - grafana.mcmumf.dev
        secretName: grafana.mcmumf.dev-tls

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
    hosts:
      - prometheus.mcmumf.dev
    paths:
      - /
    tls:
      - hosts:
          - prometheus.mcmumf.dev
        secretName: prometheus.mcmumf.dev-tls

  storageSpec:
    volumeClaimTemplate:
      metadata:
        name: openebs-prometheus-pv
      spec:
        # This storageClass is backed by openebs localpv-provisioner.
        storageClassName: openebs-hostpath
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 4Gi

prometheus-node-exporter:
  ## Additional container arguments
  extraArgs:
    - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|run/containerd/.+|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
    - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tmpfs|tracefs|erofs)$
    - --collector.diskstats.device-exclude=^(ram|loop|fd|sr|(h|s|v|xv)d[a-z]+|nvme\d+n\d+p|nvme\d+c\d+n)\d+$
