apiVersion: v1
kind: Service
metadata:
  name: linkwarden-svc
  namespace: linkwarden
  labels:
    app.kubernetes.io/instance: linkwarden
    app.kubernetes.io/name: linkwarden
spec:
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app.kubernetes.io/instance: linkwarden
    app.kubernetes.io/name: linkwarden
