apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: linkwarden
  namespace: linkwarden
  labels:
    app.kubernetes.io/instance: linkwarden
    app.kubernetes.io/name: linkwarden
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: linkwarden
      app.kubernetes.io/name: linkwarden
  serviceName: "linkwarden"
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: linkwarden
        app.kubernetes.io/name: linkwarden
    spec:
      automountServiceAccountToken: false
      terminationGracePeriodSeconds: 10
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: linkwarden
          image: ghcr.io/linkwarden/linkwarden:v2.13.5
          resources:
            requests:
              memory: 256Mi
              cpu: 500m
              ephemeral-storage: 4Gi
            limits:
              memory: 2Gi
              cpu: 1000m
              ephemeral-storage: 4Gi
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: linkwarden-cnpg-app
                  key: uri
            - name: NEXT_PUBLIC_CREDENTIALS_ENABLED
              value: "false"
            - name: NEXTAUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secrets
                  key: nextauth-secret
            # MeiliSearch
            - name: "MEILI_HOST"
              value: "http://meilisearch:7700"
            - name: MEILI_MASTER_KEY
              valueFrom:
                secretKeyRef:
                  name: meilisearch-secrets
                  key: MEILI_MASTER_KEY
            # Authentik Config
            - name: NEXTAUTH_URL
              value: "https://links.mcmumf.dev/api/v1/auth"
            - name: NEXT_PUBLIC_AUTHENTIK_ENABLED
              value: "true"
            - name: AUTHENTIK_CUSTOM_NAME
              value: "authentik"
            - name: AUTHENTIK_ISSUER
              value: "https://auth.mcmumf.dev/application/o/linkwarden"
            - name: AUTHENTIK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secrets
                  key: client-id
            - name: AUTHENTIK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secrets
                  key: client-secret
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP

          volumeMounts:
            - name: linkwarden-data
              mountPath: /data/data
  volumeClaimTemplates:
    - metadata:
        name: linkwarden-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: "openebs"
        resources:
          requests:
            storage: 8Gi
