apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  sources:
    # Helm Chart
    - repoURL: "https://prometheus-community.github.io/helm-charts"
      targetRevision: "80.13.3"
      chart: kube-prometheus-stack
      helm:
        valueFiles:
          - $values/kubernetes/infrastructure/prometheus-stack/values.yaml
    # Helm Values
    - repoURL: "https://github.com/McMumf/homelab"
      targetRevision: "main"
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
