apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: network-secret-store
    kind: ClusterSecretStore
  target:
    name: cloudflare-api-token-secret
  data:
    - secretKey: apiKey
      remoteRef:
        key: network/cert-manager
        property: cloudflare-api-token
