apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-redis
  namespace: apps
  labels:
    app: immich-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-redis
  template:
    metadata:
      labels:
        app: immich-redis
    spec:
      automountServiceAccountToken: false
      containers:
        - name: redis
          image: redis:8.4-alpine@sha256:eb37f58646a901dc7727cf448cae36daaefaba79de33b5058dab79aa4c04aefb
          resources:
            limits:
              cpu: 500m
              ephemeral-storage: 4Gi
              memory: 1Gi
            requests:
              cpu: 500m
              ephemeral-storage: 2Gi
              memory: 1Gi
          ports:
            - name: http
              containerPort: 6379
              protocol: TCP
          livenessProbe:
            exec:
              command:
                - redis-cli ping || exit 1
