apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: freshrss-secrets
  namespace: apps
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: apps-secret-store
    kind: ClusterSecretStore
  target:
    name: freshrss-secrets
  data:
    - secretKey: oidc-client-id
      remoteRef:
        key: apps/freshrss
        property: oidc-client-id
    - secretKey: oidc-client-secret
      remoteRef:
        key: apps/freshrss
        property: oidc-client-secret
    - secretKey: oidc-client-crypto-key
      remoteRef:
        key: apps/freshrss
        property: oidc-client-crypto-key
