includeCRDs: true

injector:
  enabled: false

server:
  ingress:
    enabled: true
    ingressClassName: "nginx"
    activeService: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
      gethomepage.dev/description: Secrets Management
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Cluster Management
      gethomepage.dev/icon: https://raw.githubusercontent.com/devicons/devicon/refs/heads/master/icons/vault/vault-original.svg
      gethomepage.dev/name: Vault
    hosts:
      - host: &hostName vault.mcmumf.dev
        paths: []
    tls:
      - secretName: vault.mcmumf.dev-tls
        hosts:
          - *hostName

  volumeMounts:
    - name: unseal-key-volume
      mountPath: /vault/userconfig/unseal-key-1
      subPath: unseal-key-1
      readOnly: true
    - name: unseal-key-volume
      mountPath: /vault/userconfig/unseal-key-2
      subPath: unseal-key-2
      readOnly: true
    - name: unseal-key-volume
      mountPath: /vault/userconfig/unseal-key-3
      subPath: unseal-key-3
      readOnly: true

  volumes:
    - name: unseal-key-volume
      secret:
        secretName: vault-secrets
        defaultMode: 0550
        optional: true
        items:
          - key: unseal-key-1
            path: unseal-key-1
          - key: unseal-key-2
            path: unseal-key-2
          - key: unseal-key-3
            path: unseal-key-3

  postStart:
    - /bin/sh
    - -c
    - |
      sleep 10;
      vault operator unseal $(cat /vault/userconfig/unseal-key-1) &&
      vault operator unseal $(cat /vault/userconfig/unseal-key-2) &&
      vault operator unseal $(cat /vault/userconfig/unseal-key-3) &&
      echo "Unsealed vault" >> /proc/1/fd/1 ||
      echo "Could not unseal Vault automatically. Please do it manually" >> /proc/1/fd/1;

  dataStorage:
    storageClass: openebs
    size: 2Gi
