apiVersion: v1
kind: Service
metadata:
  labels:
    app: bentopdf
  name: bentopdf-svc
  namespace: apps
spec:
  ports:
    - name: web
      port: 8080
      targetPort: 8080
  selector:
    app: bentopdf
