authentik:
  error_reporting:
    enabled: true
  log_level: trace
  email:
    use_tls: true

global:
  postgresql:
    enabled: true
    auth:
      existingSecret: authentik-secrets
  env:
    - name: AUTHENTIK_POSTGRESQL__HOST
      valueFrom:
        secretKeyRef:
          name: authentik-cnpg-app
          key: host
    - name: AUTHENTIK_POSTGRESQL__USER
      valueFrom:
        secretKeyRef:
          name: authentik-cnpg-app
          key: user
    - name: AUTHENTIK_POSTGRESQL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-cnpg-app
          key: password
    - name: AUTHENTIK_POSTGRESQL__NAME
      value: authentik
    - name: AUTHENTIK_EMAIL__HOST
      valueFrom:
        secretKeyRef:
          name: authentik-secrets
          key: email-host
    - name: AUTHENTIK_EMAIL__USERNAME
      valueFrom:
        secretKeyRef:
          name: authentik-secrets
          key: email-username
    - name: AUTHENTIK_EMAIL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-secrets
          key: email-password
    - name: AUTHENTIK_EMAIL__USE_TLS
      value: "true"
    - name: AUTHENTIK_EMAIL__PORT
      value: "587"
    - name: AUTHENTIK_EMAIL__FROM
      value: "homelab@mcmumf.dev"
  envFrom:
    - secretRef:
        name: authentik-secrets

postgresql:
  enabled: false

redis:
  enabled: true
  global:
    defaultStorageClass: openebs

server:
  volumes:
    - name: tls-cert
      secret:
        secretName: auth.mcmumf.dev-tls
  volumeMounts:
    - name: tls-cert
      mountPath: /certs
      readOnly: true
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
      gethomepage.dev/description: User management
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Operations
      gethomepage.dev/icon: https://raw.githubusercontent.com/goauthentik/authentik/refs/heads/main/website/static/img/icon.png
      gethomepage.dev/name: Authentik
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=authentik"
    hosts:
      - &authentikHost auth.mcmumf.dev
    tls:
      - hosts:
          - *authentikHost
        secretName: auth.mcmumf.dev-tls

worker:
  volumes:
    - name: tls-cert
      secret:
        secretName: auth.mcmumf.dev-tls
  volumeMounts:
    - name: tls-cert
      mountPath: /certs
      readOnly: true
