apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: falco

resources:
  - namespace.yaml

helmCharts:
  - name: falco
    repo: https://falcosecurity.github.io/charts
    releaseName: falco
    namespace: falco
    version: 7.2.1
    valuesFile: values.yaml
