cloudflare:
  tunnelName: "k8s-tunnel"
  # Secret defines the tunnelId, tunnelName, accountNumber, and tunnel secret
  secretName: tunnel-credentials
  # Define ingress rules for the tunnel. See
  # https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/configuration/configuration-file/ingress
  enableWarp: true
  ingress:
    - hostname: "loc.mcmumf.dev"
      service: http://cilium-ingress.kube-system.svc.cluster.local:80
    - hostname: "*.mcmumf.dev"
      service: http://ingress-nginx-controller.ingress-nginx.svc.cluster.local:80
      originRequest:
        originServerName: mcmumf.dev

image:
  tag: "2025.11.1"
