cloudflare:
  tunnelName: "k8s-tunnel"
  # Secret defines the tunnelId, tunnelName, accountNumber, and tunnel secret
  secretName: tunnel-credentials
  enableWarp: true
  # Define ingress rules for the tunnel. See
  # https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/configuration/configuration-file/ingress
  ingress:
    - hostname: "loc.mcmumf.dev"
      service: http://cilium-gateway-traccar-gateway.traccar.svc.cluster.local:80
      originRequest:
        originServerName: mcmumf.dev
    - hostname: "*.mcmumf.dev"
      service: http://ingress-nginx-controller.ingress-nginx.svc.cluster.local:80
      originRequest:
        originServerName: mcmumf.dev

image:
  tag: "2026.1.2"
